@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #47126b;
}

body {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  border-radius: 30px;
  cursor: pointer;
  color: #220536;
  text-decoration: none;
}

.loginBtn {
  margin-bottom: 0.5em;
  padding: 0.2em 2em 0.2em 3.5em;
  font-size: xx-large;
  letter-spacing: 1.5em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rubik Beastly", cursive;
  background-color: #ff5400;
  border-color: #b63f04;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
}

.registerBtn {
  margin-top: 0.5em;
  padding: 0.4em 2em 0.4em 3em;
  font-family: "Rubik Beastly", cursive;
  font-size: medium;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff9e00;
  border-color: #a15d03;
  transition: box-shadow ease-in 0.1s;
}

.loginDiv {
  z-index: 2;
  margin-bottom: 0.7em;
}

.registerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border: none;
  z-index: 1;
  margin-top: 0.7em;
}

.loginBtn:hover {
  box-shadow: 0px 0px 10px #8f3406, 0px 0px 20px #d34a05, 0px 0px 50px #ff5400;
  transform: translateY(-5px);
}

.registerBtn:hover {
  box-shadow: 0px 0px 10px #a56907, 0px 0px 15px #ac6b03,
    0px 0px 20px rgb(117, 74, 5);
}
